body{
    background-color: black;
    color: white;
}

div#area{
    font-weight: bold;
    font-size: 20px;
    background: red;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}