body {
    background-color: black;
    color: white;
    font: normal 15pt Arial;
    text-align: center;
}

header {
    text-align: center;
}

section {
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px grey;
}

footer {
    text-align: center;
    font-style: italic;

}